.contact-comp {

    display: flex;
    justify-content: center;
    font-style: italic;
    font-weight: bold;
    background-color: white;
    border: 10px solid $primaryColor;
    border-radius: 20px;
    margin: 15px;
    padding: 10px;
    min-width: auto;
    max-width: 500px;

    fieldset {
        padding: 5px 25px;
        ;
    }

    @media (max-width:800px) {
        display: none;
    }

    @media (max-width:500px) {
        display:none;
    }
}

.contact-mobile {
    display: none;

    @media (max-width:800px) {
        grid-column: span 2;
        display: block;
        font-style: italic;
        font-weight: bold;
        background-color: white;
        border: 10px solid $primaryColor;
        border-radius: 20px;
        margin: 15px;
        padding: 10px;
        min-width: auto;
        max-width: 500px;
    }

    @media (max-width:500px) {
        display:block;
        font-style: italic;
        font-weight: bold;
        background-color: white;
        border: 10px solid $primaryColor;
        border-radius: 20px;
        margin: 15px;
        padding: 10px;
        min-width: auto;
        max-width: 500px;
    }
}